#terminal:-webkit-full-screen{
    background-color: rgb(255, 255, 12);
}
.container {
    width: 100%;
    min-height: 600px;
}
.fullSc {
    z-index: 10000;
    position: fixed;
    top: 25%;
    left: 90%;
    display: none;
}
#fullScBtn {
    border-radius:17px;
    border: 0;
    cursor: pointer;
    background-color: black;
}

.toolbar {
    display: flex;
    justify-content: end;
}
.toolbar > button, .toolbar > a {
    margin-left: 10px;
    margin-right: 10px;
}
.toolput > div {
    margin-top: 5px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 800px) {
    .toolbar {
        display: flex;
        justify-content: space-around;
    }
}
